.header {
  color: rgb(255,255,255);
  font-family: 'Russo One', sans-serif;
  font-size: 40pt;
  padding-top: 32px;
  display: block;
  padding-left: 5%;
}

.header2 {
  font-family: 'Nova Flat', cursive;
  font-size: 32px;
}

.bgColor {
  /*background-color: rgb(115,123,230);*/
  background-color: rgb(87,6,140);
}

.bodyText {
  font-family: 'Nova Flat', cursive;
}

.linkImage {
  text-decoration: none;
  display: inline-block;
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 20px;
}

.white {
	color: rgb(255,255,255);
}

.lightGray {
  color: rgb(215,215,215);
}

.black {
	color: rgb(0,0,0);
}

.nyuPurple {
  color: rgb(87,6,140);
}

.nyuPurpleBg {
  background-color: rgb(87,6,140);
}

.nyuGray {
  color: rgb(164,165,151);
}

.nyuGrayBg {
  background-color: rgb(164,165,151);
}

.center {
  margin:auto;
  width:50%;
}

.inline {
  display:inline-block;
}

.picTooLarge {
	max-width: 100%;
}

.mediaTN {
	height: 64px;
	width: 64px;
}

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* HEADER
-----------------------------------------------------*/
.dropdown-menu-right {
    right:0;
    left:auto;
}

.top-right-buttons {
  margin-left:8px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 20px;
}

.carousel-inner > .item > img {
  min-width: 100%;
}

/* PROFILE
------------------------------------------ */

.profile-left {
  width: 20%;
  padding-left: 7%;
  padding-right: 5%;
  float: left;
  display: block;
}

.profile-right {
  width: 68%;
  float: right;
  display: block;
  border-radius: 8px;
  background-color: rgb(215,215,215);
}

.profile-picture {
  margin-bottom: 16px;
}

/* FORUM
------------------------------------------- */

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 15%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.option {
  margin-left:16px;
}

.topics {
  font-family: 'Russo One', sans-serif;
  font-size: 48px;
  padding-top:48px;
  padding-left:16px;
  padding-bottom:16px;
}

/* MENTORSHIP
---------------------------------------------- */

.mentorLeftButton {
  background-color:rgb(215,215,215);
  color:rgb(115,123,230);
  display:inline-block;
  margin-left:5%;
  margin-top:10%;
  height:40%;
  width:40%;
  border-radius: 8px;
}

.mentorRightButton {
  background-color:rgb(215,215,215);
  color:rgb(115,123,230);
  float:right;
  display:inline-block;
  margin-left:5%;
  margin-right:5%;
  margin-top:10%;
  height:40%;
  width:40%;
  border-radius: 8px;
}

.mentorshipMenu {
  padding-bottom:30%;
  margin-left:5%;
  margin-top:20px;
  width: 85%;
  display:block;
  border-radius: 8px;
  background-color: rgb(215,215,215);
}

.switch {
  margin-left:5%;
  background-color:rgb(80,80,80);
}

/* EVENTS
------------------------------------------ */

.searchEvents {
  padding-top:48px;
  font-family: 'Nova Flat', cursive;
  margin-left:16px;
}

.searchEventsBar {
  margin-left:16px;
  margin-right:16px;
}

.active-cyan-3 input[type=text] {
    border: 1px solid rgb(115,123,230);
    box-shadow: 0 0 0 1px rgb(115,123,230);
}

.eventsCarouselCol {
  padding-left:17%;
  width:60%;
  display:inline-block;
}

.eventsCarousel {
  padding-top:48px;
}

.example-1 {
  position: relative;
  overflow-y: scroll;
  height: 640px;
  width: 35%;
  margin-top: 32px;
  margin-right:2%;
  float:right;
  display:inline-block;
}

.scrollbar-cyan::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px;
}

.scrollbar-cyan::-webkit-scrollbar {
width: 12px;
background-color: rgb(115,123,230); 
}

.scrollbar-cyan::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: rgb(115,123,230); 
}

.upcomingEvents {
  font-family: 'Russo One', sans-serif;
  font-size: 48px;
  padding-bottom:8px;
}

.eventTitleCol {
  float:left;
  width:40%;
}

.timeCol {
  float:right;
  width:30%;
}

/** MENTORSHIP CATALOGUES
-------------------------------------------------------------*/

.tableHeader {
  padding-left:5%;
}

/** LOG IN
----------------------------------------------------------------*/

.logInHeader {
  margin: 0 auto;
  color: rgb(255,255,255);
  font-family: 'Russo One', sans-serif;
  font-size: 40pt;
  padding-top: 32px;
  display: block;
}

/** INDEX
-----------------------------------------------------------------*/
/*!
 * Start Bootstrap - Landing Page v5.0.0 (https://startbootstrap.com/template-overviews/landing-page)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-landing-page/blob/master/LICENSE)
 */

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../images/nyush_logo.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  -webkit-box-shadow: 0px 5px 5px 0px #adb5bd;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: rgb(87,6,140);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/**
CATALOGUE -------------------------------------------------------------*/

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

.card-height {
  max-height:20%;
}